/* apply a natural box layout model to all elements, but allowing components to change */
html, * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    background-color: #FAF9F6;
    color: #333;
  }

  button {
    padding: 1rem;
    cursor: pointer;
    background-color: #5d13e7;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color .3s, color .3s;
    color: #fff;
  }

  button:hover {
      background-color: #291f71;;
  }

  button.start-quiz-button {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}

  button#view-hs-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: #fff;
      border: 2px solid #333;
      color: #333;
  }

  button#view-hs-button:hover {
    color: #fff;
    background-color: #333;
    transition: background-color .3s, color .3s;
  }

  #view-hs-button i {
      margin-right: .75rem;
      font-weight: 400;
  }

  main {
      width: 95%;
      max-width: 760px;
      margin: auto;
      margin-top: 8rem;
  }

  section.card {
      border: 2px solid #333;
      padding: 1rem;
      background-color: #fff;
  }

  section#timer-container {
      height: 64px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: .5rem;
  }

  div#timer-bar-container {
    width: 100%;
    position: relative;
  }

  #timer-bar-container div {
      height: 10px;
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
  }

  div#timer-bar {
      width: 100%;
      background-color: #2cb978;
      border-radius: 5px;
      transition: width 1000ms linear, margin-left 1000ms linear, background-color 300ms linear;
  }

  div#countdown-container {
    width: 10%;
    position: relative;
  }

  div#countdown-container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6em;
    font-weight: bold;
  }

  section#dynamic-quiz-card {
    height: 340px;
    margin-top: 1rem;
    position: relative;
  }

  #dynamic-quiz-card h1 {
      margin-bottom: 1.5rem;
      font-size: 2em;
      letter-spacing: -.5px;
  }

  #dynamic-quiz-card h2 {
    letter-spacing: -.5px;
    margin-bottom: 1.5rem;
  }

  #dynamic-quiz-card h3 {
    font-size: 3em;
  }

  #dynamic-quiz-card p {
      line-height: 1.5;
      margin-bottom: 1.5rem;
  }

  #dynamic-quiz-card ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

#dynamic-quiz-card ul li {
  padding: .5rem 1rem;
  background-color: #5d13e7;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

#dynamic-quiz-card ul li:hover {
  background-color: #291f71;
}

#dynamic-quiz-card input {
    height: 40px;
    width: 70px;
    padding: 0.5rem;
    margin-top: 1rem;
}

#dynamic-quiz-card input:focus {
  outline: none;
}

button#save-initials-button {
    display: inline-block;
    margin-left: 8px;
    height: 40px;
    vertical-align: middle;
    padding: 0 1rem;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
}

button#save-initials-button:hover {
  color: #fff;
  background-color: #333;
  transition: background-color .3s, color .3s;
}


